{
    "//": "accounts",
    "accounts": [
        "test:123"
    ],

    "//" : "discord",
    "clientId": "FILLME",
    "guildId": "FILLME",
    "token": "FILLME",
    "feedbackChannelUrl": "",
    "unrestrictedChannelId": "",

    "//" : "riot",
    "patch": "13.22.1",
    "apiKey": "FILLME"
}